{% extends 'base.html.twig' %}

{% block title %}{{'Subject'|trans}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{'Subject'|trans}}</h1>
            {% if matieres is empty %}
                <div class="alert alert-info mb-3">
                    {{ 'NoSubjectsYet'|trans }}
                </div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <th>{{'Name'|trans}}</th>
                        <th>{{'Coefficient'|trans}}</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for matiere in matieres %}
                        <tr>
                            <td>{{ matiere.name }}</td>
                            <td>{{ matiere.coefficient }}</td>
                            <td>
                                <a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}" class="btn btn-warning">{{'Edit'|trans}}</a>
                                <a href="{{ path('app_matiere_delete', {'id': matiere.id}) }}" class="btn btn-danger">{{'Delete'|trans}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <a href="{{ path('app_matiere_add') }}" class="btn btn-success mb-3">{{ 'CreateSubject'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}
